body {
	background-image: url('bg.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
}

div {
	padding: 10px;
	background-color: rgba(200,200,200,.25);
}

form {
	display: inline;
}

table {
	background-color: rgba(200,200,200,.2);
	padding: 8px;
}

#admissionsInfo {
	border: solid black 1px;
	margin: 0 auto;
	margin-top: 5px;
	padding: 5px;
	text-align: center;
	width: 850px;
}
#admissionsInfo table{
	background-color: transparent;
	margin: 0 auto;
}
#admissionsInfo th, #admissionsInfo td {
	padding: 10px;
	text-align: center;
}

#navBar {
	padding: 20px;
	text-align: right;
	background-color: #002a4e;
	color: white;
	font-size: 12px;	
}

#navBar a:link {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#navBar a:visited {
	color: white;
	text-decoration: none;
}

#navBar a:hover {
	color: white;
	text-decoration: none;
}

#navBar a:hover {
	color: white;
	text-decoration: none;
}

#navBar h1 {
	text-align: center;
	color: white;
}

#showSchools {
	border:#ffffff normal 1px;
	border-collapse:collapse;
	font-size: 12px;
	margin: 0 auto;
	color: #CCC;
	text-align: center;
}

#showSchools th {
	background-color: #002a4e;
	color: white;
	padding: 3px;
}

#showSchools a:link{
	color:white;
	text-decoration:none;
}

#showSchools a:visited{
	color:white;
	text-decoration:none;
}

#showSchools tr:nth-child(even){
	background: #446a59;
}

#showSchools tr:nth-child(odd) {
	background: #8b7e56;
}

#showSchools td {
	padding: 3px;
}

#schoolFinder {
	border-style: outset;
	margin: 0 auto;
	background-color: rgba(200,200,200,.2);
	padding: 20px;
}

.accountForm {
	border-style: outset;
	padding-top: 10px;
	margin: 0 auto;
	text-align: right;
	width: 350px;
}
.accountForm h3 {
	text-align: center;
}
.accountForm table {
	background-color: transparent;
	margin: 0 auto;
}
.titleLink {
	text-decoration: none;
}
.titleLink:visited {
	color: black;
}
.titleLink:hover {
	text-decoration: underline;
}